*{
    margin: 0; padding: 0; box-sizing: border-box;font-family: 'Work Sans', sans-serif;
   
}

.container{
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: linear-gradient(  45deg, rgb(134, 210, 206) 10%, rgb(22, 22, 96) 100%);
  
}
header{
  width: 100%;
  height: 80px;
  display: flex; flex-direction: row;
  background-color: rgb(31, 49, 155);
  color: whitesmoke;
}
header>.left{
  width: 35%;
  height: 100%;
  border-right: 2px solid rgba(30, 44, 58,0.8);
  display: flex; flex-direction: row;
  position: relative;
}
header>.right{
  position: relative;
  width: calc(65% - 1px);
  height: 100%; display: flex; flex-direction: row;
}
.imgHeader{
  width:  70px;
  height: 70px;
  margin: 5px;
  border-radius: 50%;
}
.imgHeader img{
  width: 100%; height: 100%; border-radius: 50%;
}
.nameUser{
  width: auto;
  height: auto;
  padding: 2px 20px;
  margin-top:25px;
  font-size: 0.9em;
}
.headerIcons{
  width: auto;
  height: auto;
  padding: 5px;
  position: absolute;
  right: 5px; top: 5px;
  

}
.headerIcons i{
  margin: 0 5px;
  font-size: 0.9em;
  color: whitesmoke;
}
main{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex; flex-direction: row;
  position: relative;

}
.bell{
  width: 95%;
  height: 80px;
  margin: 5px 2.5%;
  background-image:linear-gradient(45deg, rgba(21, 28, 34, 0.9) 10%, rgb(45, 8, 45) 100%) ;
  padding: 1px 0;

}
.bellBox{
  text-align: center;
  background-color: rgb(77, 130, 183) !important;
  float: left;

}
.bell h4{
  margin-top: 30px;
  color: white;
}
.bell a{
  color: azure;
  font-size: 0.7em;

}
.bellBox i{
  font-size: 2em; line-height: 70px;
  color: whitesmoke;
}
.cerca{
  width: 100%;
  height: 30px;
  margin: 5px 0;
}
.cerca>input{
  width: 90%;
  height: 100%;
  margin: 0 5%;
  border: none;outline: none;
  text-align: center;
  border-radius: 20px ;
}
.userBox{
  width: 95%;
  height: 80px;
  background-image:linear-gradient(45deg, rgba(21, 28, 34, 0.9) 10%, rgb(45, 8, 45) 100%) ;
  margin: 5px 2.5%;
  position: relative;
  display: flex; flex-direction: row;
  border: 1px solid whitesmoke;
  cursor: pointer;
}
.activeUser{
  background-color: rgb(33, 30, 46);
}
main>.left{
  width: 35%;
  height: 100%;
  background-color: rgb(33, 30, 46);

}
.boxusers{
  position: absolute;
  width: 70px; height: 70px; 
  background-color: rgb(77, 130, 183);
  margin: 5px;
  border-radius: 50%;
  position: relative;
}
.boxusers img{
 width: 100%; height: 100%;
 border-radius: 50%;
}
.nameBox{
  margin-left: 10px;
  font-size: 0.8em;
  margin-top: 25px;
  color: white;

}

main>.right{
  width: calc(65% - 1px);
  height: calc(100% - 80px);
  
}
.containerMex{
  position: relative;
  width: 90%;height: 90%;
 background-image: url(img/sfondoChat.jpg);
 background-repeat: no-repeat;
 background-size: cover;
  margin: 5%;
  overflow-y: auto;

}
.boxMessaggio{
  margin: 20px 50px;
  width: auto; max-width: 250px;
  border-radius: 30px;
  padding: 15px;
  height: auto;
  min-height: 60px;
  border: 1px solid rgb(77, 235, 95);
  color: white;
  position: relative;
  
}.boxMessaggio h5{
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 0.7em;
}
.inviato{
  background-color: rgb(77, 235, 95);
  color: black;
  margin-left: 100px;
}
.ricevuto{
  background-color: rgb(31, 49, 155);
  color: azure;
}

footer{
  width: 65%;
  height: 80px;
  background-color: rgb(31, 49, 155);
  position: relative;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box{
  width: 40px;
  height: 40px;
  background-color: rgb(77, 130, 183);
  margin-top: 20px;
  text-align: center;
  border-radius: 50%;
}
.box i{
  line-height: 40px;
  font-size: 1.4em;
  color: whitesmoke;
}
.input{
  width: 60%;
  height: 40px;
  border-radius: 20px;
  margin: 20px 10px;
}
.input input{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none; outline: none;
  text-align: center;
 
}



/* media queery */


/* mediaquery 800px */
@media screen and (max-width: 800px) {
  .imgHeader{
    width: 50px;
    height: 50px;
    margin: 15px 10px ;
    transition: 500ms;
  }
  .nameUser{
    padding: 0 5px;
    font-size: 0.6em;
    margin-top: 45px;
    transition: 500ms;
    color: red;
  }
  
}

@media screen and ( max-width: 516px) {
  .nameUser{
    padding: 0px;
    font-size: 0.4em;
    margin-top: 45px;
    transition: 500ms;
    color: red;
  }
  .headerIcons{
    padding: 0;
  }
  .headerIcons i{
    font-size: 0.4em;
    margin: 0 2px;
  }
  
}
